<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment :: head" xmlns:th="http://www.w3.org/1999/xhtml">

<body style="display: flex; flex-direction: column; height: 100vh">
<header th:replace="fragment :: header"></header>


<main style="margin-top: 10%">

    <table>
        <tr>
            <th>Patient Name</th>
            <th>Show Records</th>
        </tr>
        <tr th:each="patient:${patients}">
            <td th:text="${patient.firstname}+' '+${patient.lastname}"></span></td>
            <td><a th:href="@{'/records/'+${patient.id}}"> view Record</a></td>
        </tr>
    </table>

</main>

<footer th:replace="fragment :: footer"></footer>
</body>
</html>

