<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment :: head" xmlns:th="http://www.w3.org/1999/xhtml" >
<body>
<header th:replace="fragment :: header"></header>


<div th:each="userInfo : ${userInfo}">
    <div class="div2"><span th:text="${userInfo.firstname}"></span><span th:text=" ' '+ ${userInfo.lastname}"></span></div>
    <div class="div3" th:text="${userInfo.dateOfBirth}"></div>
    <div class="div4" th:text="${userInfo.location}"></div>
     <p class="h2" th:text="${userInfo.bloodType}"></p>
     <p class="h2" th:text="${userInfo.nationalId}"></p>
 </div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log Out">

    <footer th:replace="fragment :: footer"></footer>

</body>
</html>