<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragment :: head" xmlns:th="http://www.w3.org/1999/xhtml" >
<body>
<header th:replace="fragment :: header"></header>

<main>
    <h> Patient Details: </h>

    <table>
        <tr>
            <th> First Name </th>
            <th> Last Name</th>
            <th> date Of Birth</th>
            <th> Location </th>
            <th> Blood Type</th>

        </tr>
        <tr>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.dateOfBirth}"></td>
            <td th:text="${user.location}"></td>
            <td th:text="${user.bloodType}"></td>

        </tr>
    </table>
<!--    th:if="${ not#lists.isEmpty(records) }"-->

    <div class="recordContainer" >


        <div th:each="record:${user.records} ">
            <p th:text="${record.medicalDiagosis} "></p>
            <p th:text="${record.visitDate} "></p>

        </div>


    </div>

    <div class="drugContainer" >


        <div th:each="drug:${user.drugs} ">
            <p th:text="${drug.drugName} "></p>

        </div>


    </div>

<!--    authorized form -->

<!--    <div sec:authorize ="hasRole('DOCTOR')">-->
<!--        <form th:action="@{/addrecord}" th:method="post">-->
<!--            <label  th:for="drugs"> Drugs: </label>-->
<!--            <input th:type="text" th:name="drugs" th:id="drugs">-->
<!--    -->
<!--            <label  th:for="diagnostic"> Medical Diagnostic: </label>-->
<!--            <input th:type="text" th:name="diagnostic" th:id="diagnostic">-->
<!--    -->
<!--        </form>-->
<!--    </div>-->

    <div sec:authorize ="hasAuthority('DOCTOR')">

        <form  th:method="post" th:action="@{/addrecord/{id}(id=${user.id})}" >
<!--            <label  th:for="drugs"> Drugs: </label>-->
<!--            <input th:type="text" th:name="drugs" th:id="drugs">-->

            <label  th:for="diagnostic"> Medical Diagnostic: </label>
            <input th:type="text" th:name="diagnostic" th:id="diagnostic">
            <input type="submit" th:value="Submit">

        </form>

        <form th:action="@{/addDrug}" method="post" >
            <input type="hidden" th:name="userId" th:value="${user.Id}">

            <select class="drugsList" th:name="drugId" >
                <option value="0">Select Drug</option>
                <option th:each="drug : ${drugs}"  th:value="${drug.getDrugId()}" th:text="${drug.getDrugName()}"></option>
            </select>
            <button type="submit">Add Drug</button>
        </form>

    </div>




</main>

<footer th:replace="fragment :: footer"></footer>
</body>
</html>