<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragment :: head" xmlns:th="http://www.w3.org/1999/xhtml" >

<body>
<header th:replace="fragment :: header"></header>

<div >
  <fieldset>
    <legend style="font-size: x-large">Add Review</legend>
  <form action="#" th:action="@{/addReviews}" method="post">
    <select name="id">
      <option th:each="doctor:${doctors}" th:text="${doctor.getFullName()}" th:value="${doctor.getId()}"></option>
    </select>
    <label>Review</label>
    <textArea name="body"></textArea>
    <input type="submit">
  </form>
    </fieldset>
</div>

<footer th:replace="fragment :: footer"></footer>

</body>
</html>